
@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-thin.ttf') format('truetype'), url('woff2/iosevka-comfy-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedthin.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-thinoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-thinoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-thinitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedthinitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extralight.ttf') format('truetype'), url('woff2/iosevka-comfy-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedextralight.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extralightitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedextralightitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-light.ttf') format('truetype'), url('woff2/iosevka-comfy-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedlight.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-lightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-lightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-lightitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedlightitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-regular.ttf') format('truetype'), url('woff2/iosevka-comfy-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extended.ttf') format('truetype'), url('woff2/iosevka-comfy-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-oblique.ttf') format('truetype'), url('woff2/iosevka-comfy-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-oblique.ttf') format('truetype'), url('woff2/iosevka-comfy-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-italic.ttf') format('truetype'), url('woff2/iosevka-comfy-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendeditalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-medium.ttf') format('truetype'), url('woff2/iosevka-comfy-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedmedium.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedmediumitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-semibold.ttf') format('truetype'), url('woff2/iosevka-comfy-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedsemibold.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-semibolditalic.ttf') format('truetype'), url('woff2/iosevka-comfy-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedsemibolditalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-bold.ttf') format('truetype'), url('woff2/iosevka-comfy-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedbold.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-boldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-boldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-bolditalic.ttf') format('truetype'), url('woff2/iosevka-comfy-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extrabold.ttf') format('truetype'), url('woff2/iosevka-comfy-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedextrabold.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedextrabolditalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-comfy-heavy.ttf') format('truetype'), url('woff2/iosevka-comfy-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-comfy-extendedheavy.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf/iosevka-comfy-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-comfy-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf/iosevka-comfy-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-comfy-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-comfy-extendedheavyitalic.ttf') format('truetype'), url('woff2/iosevka-comfy-extendedheavyitalic.woff2') format('woff2');
}
